*,
*:before,
*:after {
  box-sizing: border-box;
}
section {
}
figure {
  margin: 0;
  width: 300px;
}
img {
  width: 100%;
}
button {
  display: block;
  margin: 32px auto;
}
p {
  background-color: orange;
  color: white;
  font-size: 32px;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
}
